fastapi
uvicorn
pandas
openai
python-multipart
openpyxl
python-dotenv
sqlalchemy
fpdf2
matplotlib
pyarrow
python-calamine
numpy
langchain
langchain-community
langchain-openai
langchain-core
langchain-experimental
requests
tabulate
pydantic-settings
pydantic[email]>=2.0
python-jose[cryptography]
passlib[bcrypt]
email-validator
pymupdf
pdfplumber
reportlab
chromadb
google-generativeai
Pillow